html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-area {
    text-align: center;
}

canvas {
    border: 2px solid #fff;
}